<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../styles/bootstrap.css" />
</head>

<body>

<br/>
<nav>
  <h3 class="display-4">SWAGGER EDITOR INTEGRATION</h3>
</nav>
<div class="jumbotron">
  <p class="lead">This is a simple web application that allows you to create, edit and view swagger files!!!</p>
  <hr class="my-4">
  <p>It supports swagger 2.X and 3.X.X versions.</p>
  <p class="lead">
  <form>

    <button type="button" class="btn btn-primary" name="add" onclick="window.location='add.html';">ADD</button>&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-primary" name="update" onclick="window.location='update.html';">UPDATE</button>&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-primary" name="view" onclick="window.location='view.html';">VIEW</button>
  </form>
  </p>
</div>


</body>
</html>


