<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles/bootstrap.css" />
    <link rel="stylesheet" href="../dist/swagger-editor.css" />
    <link rel="stylesheet" href="../dist/custom/swagger-editor-custom.css" />
    <link rel="icon" type="image/png" href="../dist/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="../dist/favicon-16x16.png" sizes="16x16"/>


  </head>
  <body onload="loadSwaggerEditor()">
  <br/>
  <nav>
    <h3>SWAGGER EDITOR INTEGRATION - UPDATING A SWAGGER FILE</h3>
  </nav>


    <div class="jumbotron">
      <form>
          <div class="form-group">
            <label>Select a swagger file   </label>
            <input type="file" id="fileForUpload" onchange="loadFileContentToSwaggerEditor()"/><br/>
          </div>

        <button name="submit" class="btn btn-success" onclick="updateSwaggerFile()">UPDATE</button>&nbsp;&nbsp;&nbsp;
        <button id="updateReset" class="btn btn-info" name="reset" >RESET</button>

      </form>

    </div>

    <div id="swagger-editor"></div>

    <script src="../dist/swagger-editor-bundle.js"></script>
    <script src="../dist/swagger-editor-standalone-preset.js"></script>
    <script src="../js/swagger.js"></script>
    <script src="../js/update.js"></script>
    <script src="../js/fileSaver.js"></script>
    <script src="../js/reset.js"></script>
  </body>
</html>
