<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="../dist/swagger-ui.css"/>
    <link rel="icon" type="image/png" href="../dist/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="../dist/favicon-16x16.png" sizes="16x16"/>

</head>
<body onload="loadSwaggerUI()">

<h2>SWAGGER EDITOR INTEGRATION - VIEWING A SWAGGER FILE</h2>

<div class="container">
    Select a swagger file: <input type="file" id="fileForUpload" onchange="loadFileContentToSwaggerUI()"/><br/>
    <button id="viewReset" name="reset" >RESET</button>
</div>

<div id="swagger-ui"></div>


<script src="../dist/swagger-ui-bundle.js"></script>
<script src="../dist/swagger-ui-standalone-preset.js"></script>
<script src="../js/swagger.js"></script>
<script src="../js/view.js"></script>
<script src="../js/fileSaver.js"></script>
<script src="../js/reset.js"></script>
</body>
</html>
